<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body>
  <form id="loginForm" class="form-signin">
    <h1 class="h3 mb-3 font-weight-normal text-center">请登录</h1>
    <label for="inputUsername" class="sr-only">用户名</label>
    <input type="text" id="inputUsername" class="form-control" placeholder="工号/学号" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="密码" required>
    <div class="invalid-feedback"></div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="role" id="student" value="1" checked>
      <label class="form-check-label" for="student">
        学生
      </label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="role" id="teacher" value="2">
      <label class="form-check-label" for="teacher">
        教师
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">登陆</button>
    <p class="mt-5 mb-3 text-muted text-center">&copy; 2017-2018</p>
  </form>
</body>

</html>