<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
</head>

<body style="overflow:hidden;">
  <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">学生选课系统</a>
    <ul class="navbar-nav px-3 flex-row">
      <li class="nav-item text-nowrap mr-4">
        <a id="username" class="nav-link" href="javascript:void(0)"></a>
      </li>
      <li class="nav-item text-nowrap">
        <a id="logout" class="nav-link" href="javascript:void(0)">注销</a>
      </li>
    </ul>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
          <ul id="menuNav" class="nav flex-column">

          </ul>
        </div>
      </nav>

      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pr-0">
        <iframe id="targetContainer" style="width:100%;border:none;"></iframe>
      </main>
    </div>
  </div>
</body>

</html>