{
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "plugins": [
    "html",
    "react"
  ],
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "no-unused-vars": "off",
    // 关闭未使用变量检测
    "no-console": "off",
    // 关闭使用console检测
    "no-undef": "off",
    // 关闭未定义变量检测
    "no-unreachable": "off",
    // 关闭强制返回检测
    "no-constant-condition": "off",
    // 关闭判断条件中的常量检测
    //    "semi": "off", // 关闭分号检测
    "no-multi-spaces": 1,
    // 不能用多余的空格
    "curly": [
      2,
      "all"
    ],
    // 必须使用 if(){} 中的{}
    "comma-dangle": [
      "error",
      "only-multiline"
    ],
    // 允许对象末尾逗号，也可不写
    "comma-spacing": [
      "error",
      {
        "before": false,
        "after": true
      }
    ],
    // 逗号后面必须带空格
    /**
     * 对象空格限制 正确的例子
     * var obj = { "foo": 42 }
     */
    "key-spacing": [
      "error",
      {
        "beforeColon": false,
        "afterColon": true,
        "mode": "strict"
      }
    ],
    /**
     * 函数定义风格
     * function foo() {
     * }
     * var bar = function () {
     * }
     * class Foo {
     *   constructor() {
     *   }
     * }
     * var foo = {
     *   bar() {
     *   }
     * }
     */
    "space-before-function-paren": [
      "error",
      {
        "anonymous": "always",
        "named": "never"
      }
    ],
    // 缩进必须用tab缩进 两个空格一个缩进
    "indent": [
      2,
      2,
      {
        "SwitchCase": 1
      }
    ],
    // 不要写分号，除非自执行函数
    "semi": [
      "error",
      "never"
    ],
    // 操作符前后在空格
    "space-infix-ops": "error"
  }
}