{
  "presets": [
    "es2015", 
    "stage-2"
  ],
  "comments": false,
  "plugins": [
    "transform-runtime", 
    [
      "component", 
      [
        {
          "libraryName": "element-ui",
          // "styleLibraryName": "theme-default 主题"
          "styleLibraryName": "~common/Eleme/element-theme-control/lib",
          "root": "index" 
        },
        {
          "libraryName": "mint-ui",
          "style": false
        }
      ]
    ], 
    "transform-vue-jsx"
  ]
}
